body{
  background :grey;
  color:rgb(52, 236, 43);
  align-items: center;
  text-align: center;


}


.weather-card {
  background-color: white;
  width: 250px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}